{% extends '_base.html' %}


{% block content %}

<main>

<section id="landing_section">
    <div class="banner_ctnr">
    
        <p class="banner_text">
            Citrus Central
        </p>
        <p class="small_banner_text">
            working together with local farmers
        </p>
        <div class="digital_form_container">
            <p>we would love to work together, please tell us a bit about your business</p>
            <div class="form_group margin_top_sm">
                <label for="business_name_input">
                    Business Name

                </label>
                <input type="text" id="business_name_input" class="check_form_completion" >
            </div>
        
        </div>    
            
        


    </div>
    <div id="three_d_interactable_container">

    </div>
    <div id="landscape_three_d_container">

    </div>



</section>

<!-- 
<section id="farmers_section">
    <div class="banner_ctnr">
        <p class="banner_text">
            Citrus Central
        </p>
        <p class="small_banner_text">
            meet our farms and farmers
        </p>


    </div>


</section> -->



</main>





{% endblock content %}